{% extends 'base.html' %}
{% block title %} Страница  {% endblock %}
{% block content %}
<h1 class="p-2">Все блоги</h1>
{% for blog in blog_list %}
<div class="card p-2">
    <div class="card-body">
              <span><a class="no-border"
                      href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a> ({{ blog.post_date|date:'d N Y' }}) <a class="no-border"
                      href="{% url 'author_detail' blog.author.pk %}">{{ blog.author.username }}</a></span>
    </div>
</div>
{% endfor %}
{% if page_obj %}
<nav aria-label="Page navigation" class="p-2">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for number in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}